@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Nunito:wght@400;500;600;700;800;900&family=Monomaniac+One&display=swap");
@import "tailwindcss";

@theme {
  --font-mono: "DM Mono", monospace;
  --font-display: "Nunito", sans-serif;
  --font-impact: "Impact", sans-serif;
  --font-monomaniac: "Monomaniac One", sans-serif;
}

:root {
  --bg-primary: #0a0a0a;
  --bg-secondary: #111111;
  --bg-card: #161616;
  --accent-green: #4ade80;
  --text-primary: #f0f0f0;
  --text-secondary: #888888;
  --text-muted: #555555;
  --border: #222222;
  --border-light: #2a2a2a;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-display);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

::selection {
  background: #4ade80;
  color: #000;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 2px;
}
